# Data Science Tools and Ecosystem

 **In this notebook, Data Science Tools and Ecosystem are summarized.**

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotib

|Data Science Tools|
|------------------|
|Jupiter|
|R Studio|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
a = 3
b = 4
c = 5
z = (3*4)+5
print (z)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.

a = 200 
hour = 60 
c = a/hour
print(c)

3.3333333333333335

**Objectives**

- List the popular languages for Data Science.
- List the commonly used libraries for Data Science.
- List three development environment open source tools used in data science.
- Take a screenshot of the code cell with output and name.
- This will convert 200 minutes to hours by diving by 60.

## Author
Venkatakrishna